#container {
    background: #DF17E6;
    background: -webkit-linear-gradient(top left, #DF17E6, #0B7AFF);
    background: -moz-linear-gradient(top left, #DF17E6, #0B7AFF);
    background: linear-gradient(to bottom right, #DF17E6, #0B7AFF);
    width: 400px;
    height: 200px;
    border: black;
    border-style: none;
    box-shadow: 5px 5px rgba(128, 139, 150, 0.7);
    box-sizing: border-box;
}

.link {
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}

#name {
    color: white;
    text-align: center;
    padding-top: 30px;
}

#separator {
    margin-top: -15px;
}

#job {
    color: white;
    margin-top: -1px;
    text-align: right;
    margin-right: 35px;
}

#social {
    margin-top: -19px;
}

#social-icons {
    margin-top: -95px;
    margin-left: -22px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: tomato;
}

p {
    text-align: right;
    margin-top: -40px;
    margin-right: 15px;
}

li {
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    font-size: 14px;
    height: 20px;
    margin-top: 0px;
    padding: 0px;
}

h1 {
    font-family: 'Audiowide', cursive;
    font-size: 36px;
}

h3 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 16px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0));
}